@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

$colors: (
  red-100: #b03967,
  red-80: #cf4277,
  red-60: #db4680,
  red-40: #fc5092,
  white: #fefefe,
);

$fonts: (
  primary: 'Lato',
  Sans: 'Source Sans Pro',
);
