@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');

$colors: (
  red-100: #ff3333,
  red-80: #e13333,
  red-60: #cc3333,
  red-40: #b23333,
  white-20: #fefefe,
);

$fonts: (
  primary: 'Lato',
  sans: 'Source sans Pro',
);
